 button {
    height: 100px;
    width: 100px;
}

body {
    background-color: darkgrey;
}



#decrement, #increment {
    border-color: black;
    background-color: darkolivegreen;
    border-radius: 50%;
}